<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'/Skateparks | Roll HV' %}
  <body class="skateparks">
    {% include 'header' %}
    <div class="hero-img">
      <h1>Skateparks</h1>
    </div>
    <main id="main-content">
      <p>These are some roller rinks local to the Hudson Valley that you can skate at!</p>
      
      
      <a href="https://skatetimeny.com/" target="_blank">
        <h2> Skate Time <img src="/assets/external link.png" alt="opens in a new window"></h2>
      </a>
      <img alt=""Skaters on the rink at Skate Time" src="/assets/big image.jpg">


    </main>
    {% include 'footer' %}
  </body>
</html>
